<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div sec:authorize="isFullyAuthenticated()">
    <h3>Привет, <span sec:authentication="name"></span></h3>
</div>
<div th:replace="blocks/footer :: footer"></div>
</body>
</html>