<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h2 class="mt-2 text-center mb-4" th:text="${title}"></h2>
    <div class="row">
        <div class="col-sm-6" th:each="row : ${reviews}">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h3 class="mt-2" th:text="${row.review_title}" />
                    <p th:text="${row.review_text}" />
                    <p><b>Автор: </b><span th:text="${row.author.username}"/></p>
                    <a class="btn btn-warning" th:href="@{/reviews/} + ${row.review_id}">Детальнее</a>
                </div>
            </div>
        </div>
    </div>
    <h4 class="mt-3 mb-3" th:text="${addText}" />
    <form th:action="@{/reviews-add}" method="post">
        <div class="form-row">
            <div class="col-5">
                <input type="text" name="review_title" placeholder="Введите название отзыва" class="form-control"></br>
            </div>
            <!--            <div class="col">-->
            <textarea name="review_text" placeholder="Введите текст отзыва" class="form-control"></textarea>
        </div>
        </br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
<div th:replace="blocks/footer :: footer"></div>
</body>
</html>