<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${review[0].review_title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="rev : ${review}">
        <h3 th:text="${rev.review_title}" />
        <p th:text="${rev.review_text}" />
        <!--        <p><b>Автор: </b><span th:text="${rev.author.username}"/></p>-->
        <form th:action="@{/reviews/} + ${rev.review_id} + @{/delete}" method="post">
            <button class="btn btn-danger" type="submit">Удалить</button>
        </form></br></br>
        <a class="btn btn-warning" th:href="@{/reviews/} + ${rev.review_id} + @{/update}">Редактировать</a>
    </div>
</div>
<div th:replace="blocks/footer :: footer"></div>
</body>
</html>