<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h3 class="mt-2">Все отзывы пользователя:</h3>
    <div th:each="row : ${reviews}">
        <h3 class="mt-2" th:text="${row.review_title}" />
        <p th:text="${row.review_text}" />
        <p><b>Автор: </b><span th:text="${row.author.username}"/></p>
        <a class="btn btn-warning" th:href="@{/reviews/} + ${row.review_id}">Детальнее</a>
    </div>
    <h1 class="mt-4" th:text="${title}" />
    <form th:action="@{/reviews-add}" method="post">
        <input type="text" name="review_title" placeholder="Введите название" class="form-control"></br>
        <textarea name="review_text" placeholder="Введите название" class="form-control"></textarea></br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
<div th:replace="blocks/footer :: footer"></div>
</body>
</html>