<div xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">SamCompany</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/about">О нас</a>
            <a class="p-2 text-dark" href="/reviews">Отзывы</a>
            <a class="p-2 text-dark" href="/user">Кабинет пользователя</a>
        </nav>
        <div sec:authorize="!isFullyAuthenticated()">
            <a href="/reg" class="btn btn-success mr-2">Регистрация</a>
            <a href="/login" class="btn btn-warning mr-2">Войти</a>
        </div>
        <div sec:authorize="isFullyAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-danger mr-2" value="Выйти"/>
            </form>
        </div>
        <div sec:authorize="isFullyAuthenticated()">
            <div sec:authorize="hasAuthority('ADMIN')">
                   <a href="/admin" class="btn btn-info">Кабинет администратора</a>
            </div>
        </div>
    </div>
</div>